<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#157878">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    </head>
  <!--{ %- include head.html -%}-->

  <body>

    <header class="page-header" role="banner">
        <h1 class="project-name">{{ site.name }}</h1>
        <h2 class="project-tagline" style="opacity: 1; font-size: 1.75rem;">{{ page.title | default: site.title }}</h2>
        <a href="/" style="color: aliceblue;"><h1 class="project-tagline">Back</h1></a>
    </header>

    <!--{ %- include header.html -%}-->

    <main id="content" class="main-content" role="main">
        {{ content }}
        {% include footer.html %}
    </main>

  </body>

</html>